<nav class="hnav">
    <input type="checkbox" id="nav-burger-checkbox" role="button" title="Navigation Links">
    <label for="nav-burger-checkbox"></label>
    <div id="nav-screen">
        <a class="nav-link" href="/" aria-roledescription="nav link">Home</a>
        <a class="nav-link" href="/contact" aria-roledescription="nav link">Contact</a>
        <a class="nav-link" href="/about" aria-roledescription="nav link">About</a>
        <a class="nav-link" href="/blog" aria-roledescription="nav link">Blog</a>
        <a class="nav-link" href="/projects" aria-roledescription="nav link">Projects</a>
        <a class="nav-link" href="/system" aria-roledescription="nav link">System</a>
    </div>
</nav>
