<!-- {%-if include.category-%}
	%-assign posts = site.categories[include.category]-%
{%-else-%}
	%-assign posts = site.posts-%
{%-endif-%} -->

{%-if include.limit and paginator.posts.size > include.limit-%}
	{%-assign limit_exceeded = true-%}
{%-else-%}
	{%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if paginator.posts.size > 0 -%}
	<div id="posts">
		{%- for post in paginator.posts limit: include.limit -%}
			<div class="post">
				<h2><a href="{{ post.url | relative_url }}">{{ post.title | smartify }}</a></h2>
				<h3>{{- post.date | date: site.theme_config.date_format -}}</h3>
				<h4><i>{{ post.author | smartify }}</i> - {{ post.description | smartify }}</h4>
				<p>{{ post.excerpt | smartify }}</p>
			</div>
		{%- endfor -%}
		{%- if include.show_more and limit_exceeded -%}
			<a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a>
		{%- endif -%}
	</div>
{%- endif -%}
